.container {
  min-height: 100vh;
  height: 100%;

  display: flex;

  .sidebar {
    // flex: 0 0 200px;
    width: 240px;
    height: 100%;
    min-height: 100vh;
    background-color: var(--component-background-color);
    border-right: 1px solid #eee;
    padding: 22px 17.5px;
  }

  .content {
    flex: 1;
    min-height: 100vh;
    height: 100%;
    background-color: var(--component-background-color);
    padding: 40px 60px;
  }
}
